UVICORN_PORT=8000
XRAY_PORT=443
MARZNESHIN_PORT=8000
# Настройки БД (MariaDB)
DB_ROOT_PASSWORD=your_db_root_password_here
DB_PASSWORD=your_db_password_here
SQLALCHEMY_DATABASE_URL="mysql+pymysql://marzneshin:your_db_password_here@127.0.0.1:33060/marzneshin"

# JWT Secret needs to be randomly generated (e.g., using `openssl rand -hex 32`)
JWT_SECRET=your_generated_jwt_secret_here

# Domain Configuration
# XRAY_FALLBACK_PORT defines where unrecognized HTTPS traffic goes (Nginx Proxy Manager)
XRAY_FALLBACK_PORT=8443
XRAY_FALLBACK_SNI="" # Leave empty or specify the Nginx server block name

SUDO_USERNAME=admin
SUDO_PASSWORD=admin
